<div class="centradot">
  <ion-card shape="round" color="light" mode="md">
    <ion-card-header >
      <img alt="Logo de nuestra app" class="imagen-grande" src="./assets/img/storeify.png" />
      <br>
      <ion-card-title class="tit">👋 Bienvenido 👋</ion-card-title>
      <br>
      <ion-card-subtitle class="centrado">Ingresa tu correo y contraseña!!!</ion-card-subtitle>
      <br>
    </ion-card-header>
    <form [formGroup]="loginForm" (ngSubmit)="login()" color="light">
      <ion-item color="light">
        <ion-input color="light" formControlName="email" labelPlacement="stacked" label="Email"
          placeholder="email@domain.com">
          <ion-icon slot="start" name="mail" aria-hidden="true"></ion-icon>
          <ion-button fill="clear" slot="end" aria-label="Show/hide">
            <ion-icon slot="start" name="at" aria-hidden="true"></ion-icon>
          </ion-button>
        </ion-input>
      </ion-item>
      <ion-item color="light">
        <ion-input color="light" formControlName="password" labelPlacement="stacked" label="Password"
          placeholder="*******">
          <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
          <ion-button fill="clear" slot="end" aria-label="Show/hide">
            <ion-icon slot="start" name="finger-print" aria-hidden="true"></ion-icon>
          </ion-button>
        </ion-input>
      </ion-item>
      <br>
      <ion-button type="submit" [disabled]="!loginForm.valid" shape="round" class="centrado">Iniciar sesión</ion-button>
      <br>
      <ion-label color="secondary" class="centrado">¿No tienes cuenta? <a href=""> Registrate</a></ion-label>
      <br>
    </form>
  </ion-card>
</div>
