<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button *ngIf="userRole === 'administrador'" tab="adminprofile" href="/tabs/adminprofile">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="userRole === 'administrador'" tab="tab2" href="/tabs/tab2">
      <ion-icon aria-hidden="true" name="school"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

  <ion-fab *ngIf="userRole === 'administrador'" slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button *ngIf="userRole === 'administrador'" tab="register" href="/tabs/register">
        <ion-icon name="person-add"></ion-icon>
      </ion-fab-button><br>
      <ion-fab-button *ngIf="userRole === 'administrador'" tab="registerkids" href="/tabs/registerkids">
        <ion-icon name="man"></ion-icon>
      </ion-fab-button><br>
      <ion-fab-button tab="tab3" href="/tabs/tab3">
        <ion-icon name="construct"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab *ngIf="userRole === 'tutor'" slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button tab="tab3" href="/tabs/tab3">
        <ion-icon name="construct"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button tab="tab1" href="/tabs/tab1">
        <ion-icon name="home"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-tabs>
