
.avatar-card {
  flex-direction: column; /* Alinea los elementos verticalmente */
  align-items: center; /* Centra el contenido horizontalmente */
}

.center-avatar {
  margin-top: 60px; /* Espacio entre el avatar y la información */
}

