ion-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px auto; /* Margen opcional para separar las cards */
  }
  