<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bienvenido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>3°-A</ion-card-subtitle>
      <ion-card-title>Omar gonzalez Ruiz</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Salió a las <strong>1:35 PM</strong>
      <ion-button expand="block" fill="clear" shape="round">
        Generar codigo
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
