 <ion-header mode="ios" [translucent]="true">
</ion-header>
<ion-content color="light" mode="ios" [fullscreen]="true">
  <ion-card class="avatar-card"><br>
    <ion-avatar class="center-avatar">
      <img alt="perfil" [src]="selectedKid?.img || 'https://static3.depositphotos.com/1003827/178/i/450/depositphotos_1786336-stock-photo-beauty-a-little-girl.jpg'" />
    </ion-avatar>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-select
            class="always-flip"
            toggleIcon="caret-down-sharp"
            interface="popover"
            label="Alumno:"
            [(ngModel)]="selectedKidId"
            (ionChange)="onKidChange($event)"
            placeholder="Select a kid"
          >
            <ion-select-option *ngFor="let kid of currentUserKids" [value]="kid.id">{{kid.name}} {{kid.flastname}} {{kid.slastname}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-list *ngIf="selectedKid">
        <ion-item>
          <ion-label>Grado y Grupo: <a>{{selectedKid.group.name}}</a></ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Tutor: <a>{{selectedKid.tutor[0].name}} {{selectedKid.tutor[0].flastname}} {{selectedKid.tutor[0].slastname}}</a></ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Direccion: <a>Calle {{selectedKid.tutor[0].street}}, numero #{{selectedKid.tutor[0].number}}, Colonia {{selectedKid.tutor[0].neighborhood}}, {{selectedKid.tutor[0].city}}, CP {{selectedKid.tutor[0].zip}}</a></ion-label>
        </ion-item>
      </ion-list><br>
        <ion-button size="large" shape="round" class="ion-text-wrap" (click)="openQrModal()">
          GENERAR CODIGO Qr
          <ion-icon slot="end" name="qr-code-outline"></ion-icon>
        </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-list [inset]="true" mode="ios">
    <ion-item>
      <div class="unread-indicator-wrapper" slot="start">
        <div class="unread-indicator"></div>
      </div>
      <ion-label>
        <strong>Estado del alumno</strong>
        <ion-text>
          {{ selectedKid?.is_active ? 'El alumno está en clases' : 'El alumno fue recogido' }}
        </ion-text><br />
        <ion-note color="medium" class="ion-text-wrap">
          Fecha: {{dateString}}
        </ion-note><br>
        <ion-note color="medium" class="ion-text-wrap">
          Hora: {{timeString}}
        </ion-note>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
