<ion-header>
  <ion-item color="light">
    <ion-card-title>Configuración</ion-card-title>
    <ion-icon name="newspaper-outline" slot="end"></ion-icon>
  </ion-item>
</ion-header>

<ion-content>

  <ion-card *ngIf="currentUser">
    <img alt="Silhouette of mountains" src="{{ currentUser.img }}" />
    <ion-card-header>
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-card-title>{{ currentUser.name }} {{ currentUser.flastname }} {{ currentUser.slastname }}</ion-card-title>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-label>{{ currentUser.email }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="document-text" slot="start"></ion-icon>
          <ion-label>{{ currentUser.curp }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="phone-portrait" slot="start"></ion-icon>
          <ion-label>{{ currentUser.phone }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="extension-puzzle" slot="start"></ion-icon>
          <ion-label>{{ currentUser.rol }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-list>
  </ion-list>

  <br>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="options-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="logout()" color="danger"><ion-icon name="log-out">
        </ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="toggleTheme($event)" color="tertiary"><ion-icon name="contrast-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>

  </ion-fab>
</ion-content>
