<ion-header>
  <ion-item color="light">
    <ion-card-title>{{ 'CONFIGURATION' | translate }}</ion-card-title>
    <ion-icon name="newspaper-outline" slot="end"></ion-icon>
  </ion-item>
</ion-header>

<ion-content> 

  <ion-card *ngIf="currentUser">
    <img alt="Silhouette of mountains" src="{{ currentUser.img }}" />
    <ion-card-header>
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-card-title>{{ currentUser.name }} {{ currentUser.flastname }} {{ currentUser.slastname }}</ion-card-title>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-label>{{ currentUser.email }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="document-text" slot="start"></ion-icon>
          <ion-label>{{ currentUser.curp }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="phone-portrait" slot="start"></ion-icon>
          <ion-label>{{ currentUser.phone }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="extension-puzzle" slot="start"></ion-icon>
          <ion-label>{{ currentUser.rol }}</ion-label>
        </ion-item>
      </ion-list>
      <ion-item>
        <ion-label>{{ 'DARK_THEME' | translate }}</ion-label>
        <ion-toggle (ionChange)="toggleTheme($event)" slot="end"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'LANGUAGE' | translate }}</ion-label>
        <ion-select placeholder="{{ 'SELECT_LANGUAGE' | translate }}" slot="end"
          (ionChange)="changeLanguage($event.detail.value)">
          <ion-select-option value="es">Español</ion-select-option>
          <ion-select-option value="en">Inglés</ion-select-option>
          <ion-select-option value="fr">Francés</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item (click)="logout()">
        <ion-label>{{ 'LOGOUT' | translate }}</ion-label>
        <ion-icon slot="end" name="log-out"></ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
