<ion-header>
  <ion-toolbar>
    <ion-title>DATOS DEL ALUMNO</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="selectedKid">
    <ion-card-header>
      <ion-card-title>Información general:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-label>Nombre: {{selectedKid.name}} {{selectedKid.flastname}} {{selectedKid.slastname}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="grid"></ion-icon>
          <ion-label>Tutor: {{selectedKid.tutor[0].name}} {{selectedKid.tutor[0].flastname}}
            {{selectedKid.tutor[0].slastname}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="book"></ion-icon>
          <ion-label>Grado y Grupo: {{selectedKid.group.name}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="phone-portrait"></ion-icon>
          <ion-label>Teléfono: {{selectedKid.tutor[0].phone}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="compass"></ion-icon>
          <ion-label>Dirección: Calle {{selectedKid.tutor[0].street}}, número #{{selectedKid.tutor[0].number}}, Colonia
            {{selectedKid.tutor[0].neighborhood}}, {{selectedKid.tutor[0].city}}, CP
            {{selectedKid.tutor[0].zip}}</ion-label>
        </ion-item>
      </ion-list>
      <br>
      <ion-button size="large" shape="round" class="ion-text-wrap">
        Escánear CODIGO QR
        <ion-icon slot="end" name="qr-code-outline"></ion-icon>
      </ion-button>

    </ion-card-content>

  </ion-card>
</ion-content>
