ion-content {
    --background: #000000; /* Color de fondo opcional */
  }
  
  ion-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  ion-item {
    margin-bottom: 20px;
  }
  
  ion-button {
    margin-top: 20px;
  }
  