<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Registrar niño</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="register()" autocomplete="off">
    <ion-item>
      <ion-label position="floating">Nombre del niño</ion-label>
      <ion-input type="text" [(ngModel)]="username" name="username" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" [(ngModel)]="lastname" name="lastname" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Edad</ion-label>
      <ion-input type="number" [(ngModel)]="edad" name="edad" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Grupo</ion-label>
      <ion-input type="text" [(ngModel)]="grupo" name="grupo" required></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block">Registrarse</ion-button>    
  </form>
</ion-content>